link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/chat.css')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
// ---- Include the above in your HEAD tag --------
head

body 
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
      a.navbar-brand(href='/search') MatchMe
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
              li.nav-item
                  a.nav-link(href='/search') Home
              li.nav-item
                  a.nav-link(href='/create') Create
              li.nav-item
                  a.nav-link(href='/profile/' + user._id) Profile
              if(user.admin)
                  li.nav-item
                      a.nav-link(href='/admin') Admin
              li.nav-item
                    a.nav-link(href='/chat') Chat
              li.nav-item
                  a.nav-link(href='/logout') Logout

  .container
    h3.text-center Messaging
    .messaging
      .inbox_msg
        .inbox_people
          .headind_srch
            .recent_heading
              h4 Groups
          .inbox_chat
            - var num = -1;
            each activity in activities
              - num += 1;
              if(query)
                if(num != query.chat)
                  .chat_list
                    .chat_people
                      .chat_ib
                        h5= activity.activityName
                        a(href=`http://localhost:3050/chat?chat=${num}`)
                          button(type="button") Open Chat
                        //- - var list = user.name 
                        //- if(activity.memberList && activity.memberList[0])
                        //-   each member in activity.memberList
                        //-     - list = `${list}` + ' ' + member.name
                        //- p= list
                else
                  .chat_list.active_chat
                    .chat_people
                      .chat_ib
                        h5= activity.activityName
                        a(href=`http://localhost:3050/chat?chat=${num}`)
                          button(type="button") Open Chat
              else
                if(num == 0 )
                  .chat_list.active_chat
                    .chat_people
                      .chat_ib
                        h5= activity.activityName
                        a(href=`http://localhost:3050/chat?chat=${num}`)
                          button(type="button") Open Chat
                else
                  .chat_list
                    .chat_people
                      .chat_ib
                        h5= activity.activityName
                        a(href=`http://localhost:3050/chat?chat=${num}`)
                          button(type="button") Open Chat
        .mesgs
          .msg_history
            each message in messages
              if(message && message.body)
                - var one = message.author.toString();
                - var two = user._id.toString();
                - var cc = message;
                if(one == two)
                  .outgoing_msg
                    .sent_msg
                      p #{cc.body}
                      span.time_date #{cc.name}  #{cc.createdAt}
                else
                  .incoming_msg
                    .received_msg
                      .received_withd_msg
                        p #{cc.body}
                        span.time_date #{cc.name}  #{cc.createdAt}
          form#enter
            .type_msg
              .input_msg_write
                input.write_msg(type='text', placeholder='Type a message', id='message')
                input(type='text', value=currentChat, hidden='hidden', id='currentChat')
                input(type='text', value=user._id, hidden='hidden', id='userID')
                input(type='text', value=user.name, hidden='hidden', id='name')
                button.msg_send_btn(type='submit')
                  i.fa.fa-paper-plane-o(aria-hidden='true')
            
  //Between Nav and Footer
  footer.footer
      .container
          copyright @MatchMe
          
  script(type='text/javascript').
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='https://npmcdn.com/js-alert/dist/jsalert.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
  script.
    const socket = io();
    $('#enter').submit(function() {
      const currentChat = $('#currentChat').val();
      const message = $('#message').val();
      const userID = $('#userID').val();
      const name = $('#name').val();
      let chat = { id: `${currentChat}`, message: `${message}`, uid: `${userID}`, name:`${name}`}
      socket.emit('new message', chat);
      $('#message').val('');
      return false;
    });
    socket.on('refresh messages', function(message) {
      location.reload();
    //- console.log('Message : ' + message.message);
    });

