head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title MatchMe - Home
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js')
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/index.js')
    script(src='javascripts/tagsinput.js')
body
    nav.navbar.navbar-expand-lg.navbar-light.bg-white.sticky-top
        a.navbar-brand(href='#') MatchMe
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href='/index') Home
                li.nav-item
                    a.nav-link(href='/create') Create
                li.nav-item
                    a.nav-link(href='/profile') Profile
                if(user.admin)
                    li.nav-item
                        a.nav-link(href='/admin') Admin
                li.nav-item
                    a.nav-link(href='/join') Join
                li.nav-item
                    a.nav-link(href='/logout') Logout
    .main
        div
            h5.pl-3.pr-3.pt-2.pb-2.m-0 All Activities

            .row.pl-3.pr-3.pt-2.pb-2
                each activity in activities
                    .col-sm-4.mb-3
                        .card
                            .card-body
                                h5.card-title= activity.activityName
                                .row.pl-3.pr-3
                                    span.badge.badge-secondary.mr-2.mb-2= moment(activity.datentime).format('hh:mm A')
                                    span.badge.badge-secondary.mr-2.mb-2= moment(activity.datentime).format('MMM D, YYYY')
                                .row.pl-3.pr-3
                                    span.badge.badge-info.mr-2.mb-2= activity.location
                                .row.pl-3.pr-3.mb-3
                                    each keyword in activity.activityKeywords
                                        span.badge.badge-primary.mr-2= keyword
                                h6.card-subtitle.mb-2.text-muted #{activity.maxMembers} Members
                                button#moreInfoBtn.btn.btn-link.p-0(activityid=activity._id onclick='showMoreInfo(this)') More Info
            div#confirmModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true")
                div.modal-dialog.modal-lg.modal-dialog-centered
                    .modal-content  
                        .modal-header
                            h5#confirmModalLabel.modal-title Activity Details
                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") &times;
                        .modal-body 
                            .form
                                .form-group.row
                                    .label.col-sm-3.col-form-label Name
                                    .col-sm-9
                                        input#activtyName.form-control-plaintext(type="text" readonly="readonly")
                                    .label.col-sm-3.col-form-label Date
                                    .col-sm-9
                                        input#date.form-control-plaintext(type="text" readonly="readonly")
                                    .label.col-sm-3.col-form-label Time
                                    .col-sm-9
                                        input#time.form-control-plaintext(type="text" readonly="readonly")
                                    .label.col-sm-3.col-form-label Location
                                    .col-sm-9
                                        input#location.form-control-plaintext(type="text" readonly="readonly")
                                    .label.col-sm-3.col-form-label Number of Members
                                    .col-sm-9
                                        input#maxMembers.form-control-plaintext(type="text" readonly="readonly")
                                    .label.col-sm-3.col-form-label Created By
                                    .col-sm-9
                                        input#createdBy.form-control-plaintext(type="text" readonly="readonly")
                                    .label.col-sm-3.col-form-label Description
                                    .col-sm-9
                                        textarea#description.form-control-plaintext(type="text" readonly="readonly")
                                    .label.col-sm-3.col-form-label Keywords
                                    .col-sm-9
                                        input#keywords.form-control-plaintext(type="text" readonly="readonly")
                        .modal-footer
                            button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                            button#joinBtn.btn.btn-primary(type='submit') Join
                                //- h6.card-subtitle.mb-2.text-muted Members
                                //- p.card-text= activity.activityDescription
                                //- ul.list-group.ml-3.mr-3.mb-3
                                //-     each activity in activities
                                //-         .card.text-center.mb-3
                                //-             .card-header

                                //-             .card-body
                                //-                 div(style='overflow: hidden;')
                                //-                     p(style='float: left;') Activity:
                                //-                     p(style='float: right;')= activity.activityName
                                //-                 div(style='overflow: hidden;')
                                //-                     p(style='float: left;') Description:
                                //-                     p(style='float: right;')= activity.activityDescription
                                //-                 div(style='overflow: hidden;')
                                //-                     p(style='float: left;') Location:
                                //-                     p(style='float: right;')= activity.location
                                //-                 div(style='overflow: hidden;')
                                //-                     p(style='float: left;') Time:
                                //-                     p(style='float: right;')= moment(activity.datentime).format('hh:mm A')
                                //-                 div(style='overflow: hidden;')
                                //-                     p(style='float: left;') Date:
                                //-                     p(style='float: right;')= moment(activity.datentime).format('MMM D, YYYY')
                                //-                 div(style='overflow: hidden;')
                                //-                     p(style='float: left;') Max Members:
                                //-                     p(style='float: right;')= activity.maxMembers


                                    //- .row
                                    //-     .col-sm.mb-3
                                    //-         //- span.badge.badge-info.ml-2 Location: 
                                    //-         p.m-0.d-inline Location: 
                                    //-         span.badge.badge-info= activity.location
                                    //-         //- p.d-inline.pl-2= activity.location
                                    //-     .col-sm.text-sm-right.mb-3
                                    //-         p.m-0.d-inline.mr-2 Number of Members:
                                    //-         //-  #{activity.maxMembers}
                                    //-         span.badge.badge-info= activity.maxMembers
                                    //- .row
                                    //-     .col-sm
                                    //-         p.text-muted= activity.activityDescription
                                    //- .row.pl-3
                                    //-     each keyword in activity.activityKeywords
                                    //-         span.badge.badge-primary.mr-2= keyword
    footer.footer
        .container
            copyright @MatchMe
    script(src='/javascripts/clear.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='https://npmcdn.com/js-alert/dist/jsalert.min.js')
