head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title MatchMe - Home
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
body
    nav.navbar.navbar-expand-lg.navbar-light.bg-white.sticky-top
        a.navbar-brand(href='#') MatchMe
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href='/index') Home
                li.nav-item
                    a.nav-link(href='/create') Create
                li.nav-item
                    a.nav-link(href='/profile') Profile
                if(user.admin)
                    li.nav-item
                        a.nav-link(href='/admin') Admin
                li.nav-item
                    a.nav-link(href='/logout') Logout
    .main
        div
            h5.p-3 All Activities
            ul.list-group.ml-3.mr-3.mb-3
                each activity in activities
                    li.list-group-item
                        input(type="hidden" id="activityId" name="id" value= activity._id)
                        .row.align-items-center
                            .col-sm.pb-1.pt-1
                                p.m-0= activity.activityName
                            .col-sm.text-sm-right.pb-1.pt-1
                                span.badge.badge-secondary.mr-2= moment(activity.datentime).format('hh:mm A')
                                span.badge.badge-secondary= moment(activity.datentime).format('MMM D, YYYY')
                            .col-sm-2.d-flex.justify-content-end
                                button.btn.btn-sm.btn-primary(type='button', data-toggle='modal', data-target='#myModal') More Info
                                #myModal.modal.fade(role='dialog')
                                  .modal-dialog
                                    .modal-content
                                      .modal-header
                                        h4.modal-title(align='left') More Information
                                        button.close(align='right', type='button', data-dismiss='modal') ×
                                        
                                      .modal-body
                                        div(style='overflow: hidden;')
                                          p(style='float: left;') Activity:
                                          p(style='float: right;')= activity.activityName
                                        div(style='overflow: hidden;')
                                          p(style='float: left;') Description:
                                          p(style='float: right;')= activity.activityDescription
                                        div(style='overflow: hidden;')
                                          p(style='float: left;') Location:
                                          p(style='float: right;')= activity.location
                                        div(style='overflow: hidden;')
                                          p(style='float: left;') Time:
                                          p(style='float: right;')= moment(activity.datentime).format('hh:mm A')
                                        div(style='overflow: hidden;')
                                          p(style='float: left;') Date:
                                          p(style='float: right;')= moment(activity.datentime).format('MMM D, YYYY')
                                        div(style='overflow: hidden;')
                                          p(style='float: left;') Max Members:
                                          p(style='float: right;')= activity.maxMembers
                                
                              
                        //- .row
                        //-     .col-sm.mb-3
                        //-         //- span.badge.badge-info.ml-2 Location: 
                        //-         p.m-0.d-inline Location: 
                        //-         span.badge.badge-info= activity.location
                        //-         //- p.d-inline.pl-2= activity.location
                        //-     .col-sm.text-sm-right.mb-3
                        //-         p.m-0.d-inline.mr-2 Number of Members:
                        //-         //-  #{activity.maxMembers}
                        //-         span.badge.badge-info= activity.maxMembers
                        //- .row
                        //-     .col-sm
                        //-         p.text-muted= activity.activityDescription
                        //- .row.pl-3
                        //-     each keyword in activity.activityKeywords
                        //-         span.badge.badge-primary.mr-2= keyword
    footer.footer
        .container
            copyright @MatchMe
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='https://npmcdn.com/js-alert/dist/jsalert.min.js')
