html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        title MatchMe - Profile
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/profile.css')
        script(src='javascripts/jquery.min.js')
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-white.sticky-top
            a.navbar-brand(href='/index') MatchMe
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/index') Home
                    li.nav-item
                        a.nav-link(href='/create') Create
                    li.nav-item
                        a.nav-link(href='/profile') Profile
                    if(user.admin)
                        li.nav-item
                            a.nav-link(href='/admin') Admin
                    li.nav-item
                        a.nav-link(href='/logout') Logout
        .container-fluid
            .row.justify-content-center
                .col.p-2
                    //- -if(error.length)
                    //-     .alert.alert-danger
                    //-         div#note #{error}
                    //- -if(success.length)
                    //-     .alert.alert-success
                    //-         div#note #{success}
                    .card
                        .card-header
                            nav.navbar.navbar-expand-sm.navbar-light.p-0
                                ul.navbar-nav
                                    li.nav-item.active
                                        a.nav-link(href='/profile') My Activities
                                    li.nav-item
                                        a.nav-link(href='/settings') Settings
                        ul.list-group.list-group-flush.p-0.m-0
                            each activity in activities
                                li.list-group-item
                                    .row
                                        .col-sm
                                            p= activity.activityName
                                        .col-sm.text-right
                                            p= moment(activity.datentime).format('hh:mm A MMM D, YYYY') 
                                    .row 
                                        .col-sm
                                            p.d-inline Location: 
                                            p.d-inline.pl-2= activity.location
                                        .col-sm.text-right
                                            p Number of Members: #{activity.maxMembers}
                                    .row
                                        .col-sm
                                            p.text-muted= activity.activityDescription
                                    .row.pl-3
                                        each keyword in activity.activityKeywords
                                            span.badge.badge-primary.mr-2= keyword
                            else
                                p.text-center.mb-0.p-4 There are no activities. Create one today!

        footer.footer
            .container
                copyright @MatchMe
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/bootstrap.min.js')