head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title MatchMe - Search
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js')
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js')
    script(src='javascripts/search.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
        a.navbar-brand(href='/search') MatchMe
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href='/search') Home
                li.nav-item
                    a.nav-link(href='/create') Create
                li.nav-item
                    a.nav-link(href='/profile/' + user._id) Profile
                if(user.admin)
                    li.nav-item
                        a.nav-link(href='/admin') Admin
                li.nav-item
                        a.nav-link(href='/chat') Chat
                li.nav-item
                    a.nav-link(href='/logout') Logout
    // BETWEEN NAV AND FOOTER
    .main
        form.example(name='filterForm', method='GET', action='/search')
          .col-lg-12
            .d-flex.justify-content-center.align-items-center(style='height:100px;')
              input(type='text', placeholder='Search..', name='search', value = query.search)
              button(type='submit')
                i.fa.fa-search
          .form-group
            .col-lg-12 Sort By
              select.form-control(name='sort')
                option(value='time' selected = query.sort == 'time' ) Time
                option(value='alphabetical' selected = query.sort == 'alphabetical') Alphabetical
          
          .form-group
            .col-lg-12 Tag
              select.form-control(name='type')
                option(value='') Any
                each keyword in keywords
                      option(value=keyword selected = query.type == keyword) #{keyword}
          
        
        div
            ul.list-group.ml-3.mr-3.mb-3
                #map
                h5.p-3 All Activities
                each activity in activities
                    li.list-group-item
                        input(type="hidden" id="activityId" name="id" value= activity._id)
                        .row.align-items-center
                            .col-sm.pb-1.pt-1
                                p.m-0= activity.activityName
                            .col-sm.text-sm-right.pb-1.pt-1
                                span.badge.badge-secondary.mr-2= moment(activity.datentime).format('hh:mm A')
                                span.badge.badge-secondary= moment(activity.datentime).format('MMM D, YYYY')
                            .col-sm-2.d-flex.justify-content-end
                                button#moreInfoBtn.btn.btn-sm.btn-primary(activityid=activity._id onclick='showMoreInfo(this)') More Info
        div#confirmModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true")
            div.modal-dialog.modal-lg.modal-dialog-centered
                .modal-content  
                    .modal-header
                        h5#confirmModalLabel.modal-title Activity Details
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    form(role='form', action='/join', method='post')
                        .modal-body 
                            .form-group.row
                                input#activityId2(type="hidden" name="id")
                                .label.col-sm-3.col-form-label Name
                                .col-sm-9
                                    input#activtyName.form-control-plaintext(type="text" readonly="readonly")
                                .label.col-sm-3.col-form-label Date
                                .col-sm-9
                                    input#date.form-control-plaintext(type="text" readonly="readonly")
                                .label.col-sm-3.col-form-label Time
                                .col-sm-9
                                    input#time.form-control-plaintext(type="text" readonly="readonly")
                                .label.col-sm-3.col-form-label Location
                                .col-sm-9
                                    input#location.form-control-plaintext(type="text" readonly="readonly")
                                .label.col-sm-3.col-form-label Number of Slots Left
                                .col-sm-9
                                    input#maxMembers.form-control-plaintext(type="text" readonly="readonly")
                                .label.col-sm-3.col-form-label Created By
                                .col-sm-9
                                    input#createdBy.form-control-plaintext(type="text" readonly="readonly")
                                .label.col-sm-3.col-form-label Description
                                .col-sm-9
                                    textarea#description.form-control-plaintext(type="text" readonly="readonly")
                                .label.col-sm-3.col-form-label Keywords
                                .col-sm-9
                                    input#keywords.form-control-plaintext(type="text" readonly="readonly")
                        .modal-footer
                            button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                            button#joinBtn.btn.btn-primary(type='submit') Join
    // BETWEEN NAV AND FOOTER
    footer.footer
        .container
            copyright @MatchMe
            
    script(type='text/javascript').
      

    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDtY2DF7HlSuT66X5lL9k3xvEhgQL0iTAY&callback=initMap', async='', defer='')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='https://npmcdn.com/js-alert/dist/jsalert.min.js')
